body {
    background-color: #FEFEE3;
    overflow-x: hidden;
}

.about-us {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 6.5rem;
    gap: 30px;
}

.about-us img {
    width: 400px;
    border-radius: 9%;
}

.group-para {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

.group-para h1 {
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 5rem;
}

.group-para h1 span {
    font-weight: 700;
}

.group-para p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.group-para button {
    padding: 10px 40px;
    font-size: 1.2rem;
    background-color: #568757;
    border-radius: 5px;
    font-weight: 500;
    margin-left: auto;
}

.group-para button a {
    color: #FEFEE3;
}

.our-founder {
    height: 90vh;
    padding: 5rem;
}

.our-founder h1 {
    text-align: center;
    font-size: 3rem;
}

.group-founder {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 10rem 0;
}

.founder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    border: 3px solid #568757;
    border-radius: 20px;
    margin-top: 1rem;
}

.founder:nth-child(2) {
    margin-top: -50px;
    margin-bottom: 50px;
}

.founder img {
    width: 150px;
    border-radius: 50%;
    border: 2px solid #568757;
}

.founder .icons i {
    color: #000;
}

.founder h4 {
    font-size: 1.2rem;
}

.founder button {
    margin: 2rem 0 1rem 0;
    padding: 0.8rem 1.7rem;
    background-color: #568757;
    font-weight: 600;
    border-radius: 8px;
}

.founder button a {
    color: #fff;
}

.founder-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 4rem;
    margin: 0 4rem;
    gap: 2rem;
    height: 100vh;
}

.founder-info img {
    width: 200px;
    border-radius: 20px;
}

.detail-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 0 4rem 1rem 4rem;
}

#panha {
    flex-direction: row-reverse;
}

.group-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.group-info h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.group-info h4 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.group-info p {
    margin-right: 3rem;
}