body {
    background-color: #FEFEE3;
    overflow-x: hidden;
}

main {
    display: flex;
    padding: 2rem;
    gap: 1rem;
}

main h1 {
    margin-bottom: 3rem;
    font-size: 2.5rem
}

.shopping-cart {
    padding: 1rem 2rem;
    border: 2px solid #568757;
    border-radius: 10px;
    flex-grow: 3;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.shopping-item {
    display: flex;
    gap: 1rem;
    /* border: 1px solid #000; */
    padding-right: 1rem;
}

.shopping-item img {
    width: 200px;
}

.shopping-detail {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h3 {
    font-weight: 600;
    font-size: 1.2rem;
}

.title .rate {
    text-align: center;
    border: 1px solid #000;
    border-radius: 9px;
    margin-top: 30px;
    font-size: 0.8rem;
    margin-right: 110px;
    padding: 0.2rem;
}

.price .quantity {
    font-size: 1.5rem;
    font-weight: 500;
}

.price .remove-icon {
    text-align: end;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #f02f2f;
}


/* Devilery Section */


.delivery-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #568757;
}

.delivery-section hr {
    background-color: #568757;
}

.title-delivery {
    padding: 0 10px;
}

.title-delivery h2 {
    margin-bottom: 1rem;
}

.delivery-options {
    display: flex;
    background-color: #fff;
    border-radius: 12px;
    padding-right: 10px;
    text-align: center;

}

.delivery-option {
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.option2 {
    background-color: #f0f0f0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.delivery-option.selected {
    background-color: #568757;
    color: #fff;
    border-color: #568757;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.delivery-date {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
}

.promo-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.promo-input input {
    width: 70%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #b1b6a2;
    border-radius: 10px 0 0 10px;
    outline: none;
}

.promo-input button {
    width: 20%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #b1b6a2;
    background-color: #568757;
    color: #fff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.promocode-section p {
    margin: 10px;
}

.subtotal-section {
    display: flex;
    flex-direction: column;
}

.subtotal,
.discount,
.fee-delivery,
.tax {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 10px;
}

.subtotal {
    font-size: 19px;
    margin-bottom: 10px;
}

.subtotal-section h3 {
    font-weight: 500;
}
.subtotal-section h4 {
    font-weight: 400;
}

.total-section {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.title-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.title-total h3 {
    font-weight: 500;
}

.total-section button {
    margin-bottom: 10px;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #568757;
    cursor: pointer;
}

.proceed {
    background-color: #568757;
    border-color: #568757;
    color: #fff !important;
}